.list-group-item:hover {
    background-color: #FEE600;
    color: #000;
}

.group-header {
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

    .group-header i {
        margin-right: 8px;
    }

.placeholder-item {
    color: #000;
}

.nav-link {
    color: #fff !important;
    font-size: 14px;
}

.active {
    font-weight: bold;
    color: #000 !important;
    font-size: 16px;
    border-color: #dee2e6 #dee2e6 #fff !important;
}

.card-header {
    background-color: #212529;
    border-bottom: 1px solid #FEE600;
}
